@media only screen and (min-width: 601px){
    *{
        margin: 0px;
        padding: 0px;
    }
    body{
        min-width: 500px;
        background-color: rgb(241, 241, 241);
        overflow-x: hidden;
    }
}